{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ (is_granted('ROLE_ADMIN') or partenaire.isActive) ? encore_entry_script_tags('links') : '' }}
    {{ encore_entry_script_tags('searchStructure') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-secondary float-end shadow-sm" href='/panel'>Retour</a>
            {% endif %}
            <h1 class="text-center fw-light fs-3 mt-3 mb-5">Page partenaire</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 my-3 mx-0 rounded bg-light my-3 p-3 shadow-sm">
            <div class="col align-items-center">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <h2 class="fw-light fs-3 my-3">{{ partenaire.getFranchiseName }} : </h2>
                    <div class="">
                        <label class=" mx-3 shadow-sm {{ partenaire.isActive ?  'btn btn-success mx-3' : 'btn btn-warning' }}">
                        {{ partenaire.isActive ? 'actif' : 'inactif' }}
                            <input type="checkbox"
                                   class="partenaireSetActiveButton btn-check"
                                   autocomplete="off"
                                    {{ partenaire.isActive ? 'checked ' : '' }}
                                    {# Le client pourra voir le statut mais pas le changer #}
                                    {{ is_granted('ROLE_ADMIN') ? '' : 'disabled' }}>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col">
                <p>{{ partenaire.getShortDescription }}</p>
                <p class="fw-light">{{ partenaire.getLongDescription }}</p>
            </div>
        </div>
        <div class="rounded bg-light my-3 p-3 shadow-sm">
            <h4 class="fw-light fs-4">Permissions par défaut</h4>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 mx-5 mx-sm-auto mt-1">
                {% for key, value in permissions %}
                    <div class="permissions col form-check form-switch d-flex align-items-center">
                        <input class="perm form-check-input me-2"
                               type="checkbox"
                               role="switch"
                               id={{ key }}
                                    {{ value ? 'checked' : '' }}
                                {{ (is_granted('ROLE_ADMIN') or partenaire.isActive) ? '' : 'disabled' }}>
                        <label class="form-check-label text-secondary" for={{ value }}>{{ key }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row rounded bg-light my-3 p-3 mx-0 shadow-sm">
            <div class="{{ is_granted('ROLE_ADMIN') ? 'col-12 col-sm-10' : 'col' }}">
                <div class="input-group mb-3">
                    <span class="input-group-text">Rechercher par</span>
                    <input id="structureSearchBar" type="text" class="form-control shadow-sm" placeholder="structure_id..."
                           aria-label="Rechercher par structure_id" aria-describedby="input_recherche_structures">
                </div>
                <div class="row gap-2 g-0">
                    <label class="btn btn-primary col shadow-sm">
                        <input type="checkbox" id="searchActiveStructureButton" class="btn-check" autocomplete="off">
                        Actif
                    </label>
                    <label class="btn btn-primary col shadow-sm">
                        <input type="checkbox" id="searchInactiveStructureButton" class="btn-check" autocomplete="off">
                        Inactif
                    </label>
                    <button id="showAllStructures" class="btn btn-primary col shadow-sm" type="button">Toutes</button>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="d-flex justify-content-center col col-sm-2 mt-3 mb-3 mb-sm-5 ">
                    <a href="/ajouter_structure/{{ partenaire.getId }}" id="addStructureBtn"
                       class="btn btn-info btn-lg d-block" type="button">Ajouter
                    </a>
                </div>
            {% endif %}
        </div>
        <div id="structuresDisplayBlock" class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 rounded bg-light my-3 p-3 shadow-sm">
            {% for structure in structures %}
                    <div class="structureCard col" id={{ structure.getId }}>
                        <div class="entityCard flex-column align-items-center p-3 shadow-sm {{ structure.isActive ? 'backgroundGreen' : 'backgroundYellow' }}">
                            <p>Salle {{ structure.getId }}</p>
                            <p class="fw-light">{{ structure.getAddress }}</p>
                            <p class="fw-light">{{ structure.getPostalCode }} {{ structure.getCity }}</p>
                            <label class="shadow-sm {{ structure.isActive ? 'btn btn-success' : 'btn btn-warning' }}">
                                {{ structure.isActive ? 'actif' : 'inactif' }}
                                <input type="checkbox"
                                       class="structureSetActiveButton btn-check"
                                       autocomplete="off"
                                       {{ structure.isActive ? 'checked' : ''}}>
                            </label>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}