{% extends "base.html.twig" %}

{% block body %}
    <h2>Hello {{ app.user.email }}</h2>
    <div class="container h-75">
        <div>
            <div class="d-flex m-2">
                <p class="m-2">{{ partenaire.getFranchiseName }} : </p>
                <button
                        {{ partenaire.isActive ? "class= 'btn btn-success' " : "class= 'btn btn-warning' " }}
                        type="button"
                        data-bs-toggle="button"
                >{{ partenaire.isActive ? 'actif' : 'inactif' }}</button>
            </div>
            <div class="d-grid">
                <div class="row">
                <h4>Permissions par défaut</h4>
                </div>
                <div class="row row-cols-3 row-cols-lg-4">
                {% for key, value in permissions  %}
                    <div class="permissions col form-check form-switch">
                        <input class="perm form-check-input"
                               type="checkbox"
                               role="switch"
                               id={{ key }}
                                {{ value ? 'checked' : '' }}>
                        <label class="form-check-label" for={{ value }}>{{ key }}</label>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex p-3 h-50 ">
            <div class="d-flex flex-column me-3">
                <div class="input-group mb-3">
                    <span class="input-group-text">Rechercher par</span>
                    <input id="structureSearchBar" type="text" class="form-control" placeholder="structure_id..." aria-label="Rechercher par structure_id" aria-describedby="input_recherche_structures">
                </div>
                <div class="">
                    <div class="" >
                        <label class="btn btn-primary col-4">
                            <input type="checkbox" id="structureActiveButton" class="btn-check" autocomplete="off"> Actif
                        </label>
                        <label class="btn btn-primary col-4">
                            <input type="checkbox" id="structureInactiveButton" class="btn-check" autocomplete="off"> Inactif
                        </label>
                        <button id="showAllStructures" class="btn btn-primary" type="button">Toutes</button>
                    </div>

                </div>
            </div>
            <div class="d-flex flex-column gap-2 ">

                <button class="btn btn-info" type="button">Ajouter</button>
            </div>
        </div>
        <div id="structuresDisplayBlock" class="row row-cols-md-2 row-cols-lg-3 gap-3">
            {% for structure in structures %}
                    <div class="structureCard flex-column align-items-center" id={{ structure.getId }}>
                        <label {{ structure.isActive ? "class= 'btn btn-success' " : "class= 'btn btn-warning' " }}
                        >{{ structure.isActive ? 'actif' : 'inactif' }}
                            <input type="checkbox"
                                   id="structureActiveButton"
                                   class="btn-check"
                                   autocomplete="off"
                                   {{ structure.isActive ? 'checked' : ''}}>
                        </label>
                        <p>{{ structure.getAddress }}</p>
                        <p>{{ structure.getPostalCode }} {{ structure.getCity }}</p>
                        <br>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}